body {background-color: rgb(134, 134, 134);
}
h1{text-align: center;
    color: rgb(0, 0, 0);
    font-size: 300%
}
h2{border-style: double;
text-align:center}
#ima1 {width: 50%;
    align-items: center;
    margin-left: 25%;
}
h3{text-align: center;
font-size: 200%;
border-style: double;}
h4{text-align: center;}
